/*=========== TABLE OF CONTENTS ===========
1.  General css (Reset code)
2.  Header-top
3.  Top-area
4.  Welcome-hero
7.  Explore
8.  Reviews
9.  Counter
10. Blog
11. Weather Map
12. Footer
==========================================*/

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    color: #252A2F;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #252A2F;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
    list-style: none;

}

select,
input,
textarea,
button {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
    font-size: 12px;
}

html,
body {
    height: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}

/* section-header */
.section-header {
    position: relative;
    text-align: center;
}

.section-header h2 {
    color: #505866;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.section-header h2 span {
    text-transform: lowercase;
}

.section-header p {
    font-size: 16px;
}

/* section-header */
.fix {
    position: relative;
    clear: both;
}

/*=============Style css=========*/


/*-------------------------------------
        3. Top-area
--------------------------------------*/
nav.navbar.bootsnav {
    background-color: #fff;
    border-bottom: transparent;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.nav-logo {
    float: left;
    height: 86px;
}

/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav>li>a {
    color: #252A2F;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

nav.navbar.bootsnav ul.nav>li>a {
    padding: 34px 21px;
}

nav.navbar.bootsnav ul.nav>li>a:hover,
nav.navbar.bootsnav ul.nav>li>a:focus {
    color: #469DD9;
}

nav.navbar.bootsnav ul.nav>li.active>a {
    color: #469DD9;
}

nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle:after {
    content: "";
}

nav.navbar.bootsnav ul.nav>li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}

.wrap-sticky nav.navbar.bootsnav.sticked ul.nav>li>a {
    padding: 34px 21px;
}

/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}

.menu-ui-design::-webkit-scrollbar {
    width: 5px;
}

.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}

.menu-ui-design::-webkit-scrollbar-thumb {
    background-color: #fff;
}

/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    padding: 10px;
    top: 0;
}

nav.navbar.bootsnav .navbar-toggle i {
    color: #252A2F;
}

/*.navbar-toggle */

/*-------------------------------------
        4.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background: url(../../images/20210727_091139.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: -120px;
    height: 1050px;
    z-index: 1;
}

.welcome-hero:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 73, 89, .65);
    z-index: -1;
}

.welcome-hero-txt {
    padding-top: 420px;
}

.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
}

.welcome-hero-serch-box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.welcome-hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    width: 170px;
    height: 70px;
    font-weight: 500;
    background: #469DD9;
    text-transform: capitalize;
    border-radius: 8px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

.welcome-hero-btn:hover {
    color: #469DD9;
    font-weight: 500;
    background-color: #fff;
    border: solid 3px #469DD9;
}




/*-------------------------------------
        5. List-topuics
--------------------------------------*/
.list-topics-content {
    position: relative;
    top: -98px;
    z-index: 1;
}

.list-topics-content ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-topics-content ul li {
    display: flex;
}

.single-list-topics-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 205px;
    height: 170px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-list-topics-content h2 {
    margin: 13px 0;
    display: inline-block;
    text-decoration: none;
    color: #252A2F;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}

/*.single-list-topics-content:last-child{margin-right: 0;}*/

.single-list-topics-icon [class^="fi-rr-"]:before,
.single-list-topics-icon [class*=" fi-rr-"]:before,
.single-list-topics-icon [class^="fi-rr-"]:after,
.single-list-topics-icon [class*=" fi-rr-"]:after {
    font-size: 45px;
    color: #252A2F;
}

.single-list-topics-content:hover .single-list-topics-icon [class^="fi-rr-"]:before,
.single-list-topics-content:hover .single-list-topics-icon [class*=" fi-rr-"]:before,
.single-list-topics-content:hover .single-list-topics-icon [class^="fi-rr-"]:after,
.single-list-topics-content:hover .single-list-topics-icon [class*=" fi-rr-"]:after {
    color: #fff;
}

.single-list-topics-content:hover h2,
.single-list-topics-content:hover p {
    color: #fff !important;
}

.single-list-topics-content:hover {
    color: #fff;
    background: #258AB9;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

/*-------------------------------------
        7. Explore
--------------------------------------*/
.explore {
    padding: 117px 0 95px;
    background: #f8fafb;
}

.explore-content {
    margin-top: 78px;
}

.single-explore-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 8px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-explore-img {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.single-explore-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162, 168, 172, 0.2);
}

.single-explore-img-info {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-explore-item:hover .single-explore-img-info {
    opacity: 1;
    visibility: visible;
    bottom: 0px
}

.single-explore-img-info button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 125px;
    height: 25px;
    line-height: 21px;
    background: #252d32d7;
    border-radius: 8px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.single-explore-image-icon-box {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.single-explore-image-icon-box ul li {
    display: inline-block;
    width: 30px;
    height: 28px;
    line-height: 28px;
    background: #252d32d7;
    text-align: center;
    margin-left: 5px;
    color: #cbcccd;
    border-radius: 8px;
}

.single-explore-image-icon-box ul li:hover i {
    color: #469DD9;
}


.single-explore-item:hover {
    box-shadow: 0 10px 20px rgba(21, 19, 19, .2);
}

/*-------------------------------------
        8. Reviews
--------------------------------------*/
.reviews {
    padding: 117px 0 75px;
}

.reviews-content {
    margin-top: 36px;
}

/*-------------------------------------       
        9.  Counter
--------------------------------------*/
.statistics {
    position: relative;
    display: flex;
    align-items: center;
    background: url(../../images/20230220_114315.png)no-repeat fixed;
    background-position: center;
    background-size: cover;
    padding: 210px 0 210px;
}

.statistics:before {
    position: absolute;
    content: '';
    background: rgba(75, 75, 75, .60);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* single-ststistics-box */
.single-ststistics-box {
    text-align: center;
    margin-bottom: 30px;

}

/* single-ststistics-box */
.statistics-content {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 60px;
}

.statistics-content span {
    margin-left: 5px;
}

.single-ststistics-box h3 {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
}

/*-------------------------------------
        10. Blog
--------------------------------------*/
.blog {
    padding: 90px 0;
}

.blog-content {
    margin-top: 80px;
}


/*-------------------------------------
        11. Weather Map
--------------------------------------*/
.subscription {
    background: #f8fafb;
    padding: 150px 0;
}

iframe {
    width: 68%;
    border: 0px;
    height: 450px;
    float: right;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .6);
    border-radius: 8px;
}


.weather-container {
    height: 450px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    background-color: #252A2F;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
    border-radius: 8px;
    padding: 15px;
}

.weather-container h1 {
    color: #469DD9;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.weather-container h2 {
    color: #fff;
    font-size: 26px;
}

#weather-info {
    margin-top: 20px;
    width: 450px;
    display: flex;
}

.weather {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    width: 100%;
    display: flex;
}

.info-item {
    padding: 0 15px;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.label {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    color: #fff;
    text-transform: capitalize;
}

.date {
    justify-content: center;
    text-align: center;
}

.date #temperature {
    font-size: 36px;
}

.date #weatherDescription {
    font-size: 18px;
}

#dateTime,
#temperature,
#humidity,
#wind,
#weatherDescription,
#sunrise,
#sunset {
    color: #fff;
    font-size: 16px;
}



/*-------------------------------------
        12. Footer
--------------------------------------*/

#footer {
    background-color: #469DD9;
}

.hm-footer-copyright {
    padding: 40px 0;
}

.hm-footer-copyright p,
.hm-footer-copyright p a {
    color: #252A2F;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    vertical-align: middle;
}

.footer-social {
    text-align: right;
}

.footer-social .fa-phone:before {
    position: relative;
    top: 2px;
}

.footer-social .social-media {
    display: inline-block;
    color: #3358aa;
    font-size: 16px;
    margin-left: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-social .social-media {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #CFD3D6;
    text-align: center;
    border-radius: 50%;
}

.footer-social a {
    display: inline-block;
    text-decoration: none;
    color: #252A2F;
    font-size: 16px;
    padding: 0;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}



.footer-social .social-media:hover {
    background: #252A2F;
    color: #CFD3D6;
}

/*-------------------------------------       
    TEST
--------------------------------------*/

/* Modal (background) */
.image-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Black with opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

/* Caption of Modal Image */
#image-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* The Close Button */
.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */




/*===============================
    Scroll Top
===============================*/
#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background: #252A2F;
    border-radius: 50%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 2;
}

#scroll-Top .return-to-top:hover {
    background: #CFD3D6;
    color: #252A2F;
    font-weight: 700;
}

#scroll-Top .return-to-top i {
    position: relative;
    bottom: 0;

}

#scroll-Top .return-to-top i {
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 7px;
    }
}